
div{
    align-items: center;
}
*{
    margin: 0;
    padding: 0;
}
.block1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 200px;
    background-color: aqua;
    border: 1px solid black;
}
.block1-1{
    align-items: center;
    width: 100%;
}
.block1-2{
    align-items: center;
    width: 100%;
}
.block2{
    display: grid;
    background-color: aquamarine;
    width: 100%;
    height: 800px;
}
button{
    width: 100px;
    height: 50px;
}
